<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
</div>

<div class="content">
  <div id="room">

    <div class="box-left">
      <p class="message-box white">こんにちは</p>
    </div>

    <div class="box-right">
      <p class="message-box green">こんにちは</p>
    </div>

  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "メッセージを入力してください">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>
